node_modules/
.vscode
.idea
.sfdx
.sf
.env

*.sublime-project
*.sublime-workspace
**/*.swp
**/.eslintrc.json
**/*/jsconfig.json

code
js-app/assets/images/check-circle.svg
js-app/assets/images/check.svg
js-app/assets/images/close.svg
js-app/assets/images/comment-empty.svg
js-app/assets/images/comment.svg
js-app/assets/images/dropdown.svg
js-app/assets/images/edit.svg
js-app/assets/images/email.svg
js-app/assets/images/file.svg
js-app/assets/images/filters.svg
js-app/assets/images/heart-empty.svg
js-app/assets/images/heart.svg
js-app/assets/images/image.svg
js-app/assets/images/plus.svg
js-app/assets/images/trash.svg
js-app/assets/images/video.svg
.DS_Store
.history/
force-app/main/default/staticresources/Clienteling
force-app/main/default/objects/PIAB__*
force-app/main/default/objects/PRX__*
dev-app/main/default/connectedApps/Test_Automation.connectedApp-meta.xml
position-setup/connectedApp/Service_Cloud.connectedApp-meta.xml

*.local

scratch-data/PRXC__PICGeneral__cs.json.bak
scratch-data/PRXC__PICUserSettings__cs.json.bak

PI-Styles/dist
.idea/workspace.xml

#This is a webstorm plugin for SFDX
IlluminatedCloud/
deploy.sh

